@media (max-width: 1280px) {
    .cabecalho {
        padding: 30px;
    }
    .home {
        flex-direction: column-reverse;
        align-items: center;
        margin: 50px 0;
        gap: 30px;
        justify-content: center;
    }
    .home .informacoes {
        max-width: 100%;
        text-align: center;
        align-items: center ;
    }
    .projetos .container-projetos {
        padding: 0 30px;
    }
}
@media(max-width: 425px) {
    .home .informacoes h1 {
        font-size: 30px;
    }
    .home .informacoes p {
        font-size: 16px;
    }
    .home .container-photo img {
        max-width: 320px;
    }
    .projetos {
        padding: 30px;
    }
}